# ===========================
# Database Configuration
# ===========================
# SQLite (dev)
# DB_PATH=gofiber.db
# Postgres / Production (uncomment and set)
DATABASE_URL=postgresql://postgres.zwogtuhvejuiqhkcmhku:8csy3LRLwGn4J8KN@aws-1-eu-central-1.pooler.supabase.com:5432/postgres

# ===========================
# Google OAuth
# ===========================
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URL=https://adeyasv.twisac.xyz/api/auth/google/callback

# ===========================
# JWT Settings
# ===========================
JWT_SECRET=aeeb72fbaa3c9863fd882d23c658368b1fc8d60cb2b96ed0cdbe93fedadeb1be
JWT_EXPIRATION=72 # in hours

# ===========================
# UPLOAD
# ===========================
UPLOAD_DIR=/app/uploads


# ===========================
# Server Configuration
# ===========================
SERVER_PORT=8000
FRONTEND_URL=http://localhost:3000
EMAIL_VERIFICATION_REQUIRED= false
